@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.project_status {
    text-align: center;
    color: #434343;
}

.static_header {
    font-size: 36pt;
    margin-bottom: 0px;
}

.description {
    font-size: 12pt;
}

#refresh {
    font-family: 'Lato', sans-serif;
    
    border: solid 2px cornflowerblue;
    border-radius: 10px;
    background-color: transparent;

    color: #6495ed;

    padding: 4px 10px;  
}

#refresh:hover {
    background-color: cornflowerblue;
    color: white;
}

#refresh:focus:active {
    border: solid 2px cornflowerblue;
    background-color: steelblue;
}

#status {
    font-weight: bold;
}

@media only screen and (max-width: 750px) {
    .static_header {
        font-size: 24pt;
    }

    .description {
        font-size: 10pt;
    }
}

@media only screen and (max-width: 400px) {
    .static_header {
        font-size: 16pt;
    }
    .description {
        font-size: 8pt;
    }
}