@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

a {
    target: "_blank";
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.header-container {
    display: flex;
    justify-content: center;
    padding: 0 10vw;
    background-color: var(--primary-color);
}

.header-text {
    padding: 40px 20px;
}

#header-image {
    padding: 20px;
    min-width: 0;
    position: relative;
    overflow: hidden;
    aspect-ratio: 4/3;
    object-fit: cover;
}


.header-text,
#header-image {
    flex: 1;
    max-width: 570px;
}

#header-title {
    color: var(--header-title-color);
    font-size: 34pt;
}

#header-description {
    font-size: 11pt;
    line-height: 24px;
    color: var(--header-description-color)
}

#tips-container {
    margin: 0;
}

#tips-container > * > .tip:nth-child(odd) {
    background-color: var(--odd-color);
}
#tips-container > * > .tip:nth-child(even) {
    background-color: var(--even-color);
}

.tip {
    padding: 20px 12vw;
}

.tip-dropdown, .tip-description, .tip > hr {
    padding: 0 12px;
    max-width: 1200px;
    justify-self: center;
    margin: auto;
}

.tip-dropdown {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.tip-dropdown > h1 {
    color: var(--primary-color);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19pt;
}

.tip-dropdown > button {
    width: 50px; 
    border-radius: 20px;
    padding: 4px; 
    border: none;
}

.tip-dropdown > button,
.show-more {
    background-color: transparent;
    text-align: center;
    color: var(--primary-color);
}

.tip-dropdown > button:hover,
.show-more:hover {
    color: white;
    border:solid 2px var(--primary-color);
    background-color: var(--primary-color);
}

.tip-dropdown > button:active,
.show-more:active {
    color: white;
    background-color: var(--primary-color);
    box-shadow: inset 2px 2px 10px 2px rgba(0,0,0,0.3)
}

.tip-description {
    color: var(--tip-description-color);
    font-size: 11pt;
    line-height: 24px;
}

.tip-description a {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

.show-more {
    border-radius: 20px;
    font-size: 16pt;
    margin: 20px auto;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border:solid 1px var(--primary-color);
}

#footer {
    background-color: var(--primary-color);
    color: var(--header-title-color);
    display: flex;
    flex-direction: column;
    padding: 2vh;
    align-items: center;
    justify-content: center;

    position: relative;
    bottom: 0;
    flex: 0 0 0;
}

#footer > p {
    flex: 0 0 auto;
    margin: 5px;
    text-align: center;
}

#footer > p > a {
    color: var(--header-title-color);
    font-weight: bold;
}